footer.footer
    .footer__wrapper.container
        .col-wrap
            .footer__col
                a.link(href="page-question.html") Вопрос
                a.link Вакансии
                a.link Оставить отзыв
                a.link Справка
            .footer__col
                a.link Компании
                a.link(href="page-questions.html") Вопросы
                a.link Позиции
                a.link Темы
            .footer__col
                a.link(href="page-my-questions.html") Мои вопросы
                a.link(href="page-profile.html") Профиль
                a.link(href="page-profile-recruiter.html") Профиль рекрутера
        .footer__credentials
            .footer__logo
                img(src="img/logo.svg", alt="")
            p Дизайн сайта / логотип © 2024 dianazmitrevich