header.header
    .header__wrapper.container
        .header__row
            .header__col
                .header__col-logo
                    img(src="img/logo.svg", alt="")
                nav.header__col-nav
                    a(href="") Темы
                    a(href="") Мой прогресс
                    a(href="") Навигация
                    a(href="") Вакансии
            .header__col
                a.btn.btn-grey Войти