.profile-table.table.content-block
    .table__wrapper.container
        .table__items
            .table__item
                .table__col.table__col-upper
                    .table__title Темы
                    .table__col-boxes
                        .checkbox
                            input(type="checkbox", name="" id="c_1")
                            label(for="c_1") Подтвержден
                        .checkbox
                            input(type="checkbox", name="" id="c_2")
                            label(for="c_2") Ожидает подтверждения
                .table__col
                    table
                        thead
                            tr
                                td Тема
                                td Тема-родитель
                                td Статус
                                td
                        tbody
                            tr
                                td
                                    a(href="") В чем смысл SQL?
                                td Фронтенд
                                td Ожидает подтверждения
                                td
                                    button.btn-text Подтвердить
                            tr
                                td В чем смысл SQL?
                                td Фронтенд
                                td Ожидает подтверждения
                                td
                                    button.btn-text Подтвердить
                            tr
                                td В чем смысл SQL?
                                td Фронтенд
                                td Ожидает подтверждения
                                td
                                    button.btn-text Подтвердить
                            tr
                                td В чем смысл SQL?
                                td Фронтенд
                                td Ожидает подтверждения
                                td
                                    button.btn-text Подтвердить
                            tr
                                td В чем смысл SQL?
                                td Фронтенд
                                td Ожидает подтверждения
                                td
                                    button.btn-text Подтвердить
                            tr
                                td В чем смысл SQL?
                                td Фронтенд
                                td Ожидает подтверждения
                                td
                                    button.btn-text Подтвердить
                            tr
                                td В чем смысл SQL?
                                td Фронтенд
                                td Ожидает подтверждения
                                td
                                    button.btn-text Подтвердить
                .table__row
                    .btn-sm.btn-red Показать еще