.profile-detail.detail.content-block
    .detail__wrapper.container
        .detail__row
            .detail__col.detail__col-item.item
                .item__row.item__row-upper
                    .item__image
                        .img-cage
                            img(src="img/avatar.png", alt="")
                .item__row
                    .item__username @diana
                    .item__name Диана Змитревич
                    .item__mail zmitrevichdiana@gmail.com