.questions-list.list.content-block
    .list__wrapper.container
        .list__item.questions-item.item.item-closed
            .item__row
                .item__col.item__col-left
                    .text-wrap
                        .item__title В чем разница между having и in в SQ?
                        .item__tags
                            a.item__tag
                                .img-cage
                                    img(src="img/swift.svg", alt="")
                                p swift
                            a.item__tag javascript
                            a.item__tag java
                            a.item__tag c#
                            a.item__tag c++
                            a.item__tag.item__tag-level джуниор
                            a.item__tag.item__tag-validated Подтвержден
                .item__col.item__col-right
                    .text-wrap
                        .item__author
                            .img-cage
                                img(src="img/avatar.png", alt="")
                            p @diana, <span>Frontend-разработчик</span>
                    .item__favourite.favourite-btn
        .list__item.questions-item.item
            .item__row
                .item__col.item__col-left
                    .text-wrap
                        .item__title В чем разница между having и in в SQ?
                        .item__tags
                            a.item__tag swift
                            a.item__tag javascript
                            a.item__tag java
                            a.item__tag c#
                            a.item__tag c++
                .item__col.item__col-right
                    .text-wrap
                        .item__author
                            .img-cage
                                img(src="img/avatar.png", alt="")
                            p @diana, <span>Frontend-разработчик</span>
                    .item__favourite.favourite-btn