.my-vacancies.vacancies.content-block
    .vacancies__wrapper.container
        .vacancies__title.h3 Мои вакансии
        .vacancies__items
            .vacancies__item.vacancies-item.item
                .item__row
                    .item__col.item__col-left
                        .item__title Project Manager
                        .item__tag джуниор
                        .item__rating Необходимый рейтинг – <span>20</span>
                        .item__inq 15 откликов
                    .item__col.item__col-right
                        .item__remove.remove-btn
            .vacancies__item.vacancies-item.item.item-more
                .item__row
                    p Нужно найти больше соискателей? Всегда можно добавить еще одну!
                    .btn Добавить вакансию