.companies-block.companies.content-block
    div.companies__wrapper.container
        .h2 Компании
        .companies__items
            .companies__item.companies-item.item
                .item__row
                    .item__col.item__col-left
                        .item__image
                            img(src="img/epam.png", alt="")
                        .item__questions 22 вопроса
                        .item__vacancies 1 вакансия
                    .item__col.item__col-right
                        .item__favourite.favourite-btn.favourite-btn-selected
            .companies__item.companies-item.item
                .item__row
                    .item__col.item__col-left
                        .item__image
                            img(src="img/epam.png", alt="")
                        .item__questions 22 вопроса
                        .item__vacancies 1 вакансия
                    .item__col.item__col-right
                        .item__favourite.favourite-btn