.positions-block.positions.content-block
    div.positions__wrapper.container
        .h2 Вопросы на позицию
        .positions__items
            .positions__item.positions-item.item
                .item__row
                    .item__col.item__col-left
                        .item__title Project Manager
                        .item__questions 22 вопроса
                        .item__vacancies 1 вакансия
                    .item__col.item__col-right
                        .item__favourite.favourite-btn.favourite-btn-selected
            .positions__item.positions-item.item
                .item__row
                    .item__col.item__col-left
                        .item__title Project Manager
                        .item__questions 22 вопроса
                        .item__vacancies 1 вакансия
                    .item__col.item__col-right
                        .item__favourite.favourite-btn