.questions-block.questions.content-block
    div.questions__wrapper.container
        .h2 Вопросы
        .questions__items
            .questions__item.questions-item.item.item-closed
                .item__row
                    .item__col.item__col-left
                        .text-wrap
                            .item__title В чем разница между having и in в SQ?
                            .item__tags
                                a.item__tag swift
                                a.item__tag javascript
                                a.item__tag java
                                a.item__tag c#
                                a.item__tag c++
                        .item__details 2 голоса&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3 ответа
                    .item__col.item__col-right
                        .text-wrap
                            .item__date 2 часа назад
                            .item__author
                                .img-cage
                                    img(src="img/avatar.png", alt="")
                                p @diana, <span>Frontend-разработчик</span>
            .questions__item.questions-item.item
                .item__row
                    .item__col.item__col-left
                        .text-wrap
                            .item__title В чем разница между having и in в SQ?
                            .item__tags
                                a.item__tag swift
                                a.item__tag javascript
                                a.item__tag java
                                a.item__tag c#
                                a.item__tag c++
                        .item__details 2 голоса&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3 ответа
                    .item__col.item__col-right
                        .text-wrap
                            .item__date 2 часа назад
                            .item__author
                                .img-cage
                                    img(src="img/avatar.png", alt="")
                                p @diana, <span>Frontend-разработчик</span>
            .question__more
                p Не нашли подходящий? Тогда используйте <span>расширенный поиск</span> или смотрите <span>вопросы по меткам</span>
                .btn Смотреть все вопросы