.themes-block.themes.content-block
    div.themes__wrapper.container
        .h2 Темы / теги
        .themes__items
            .themes__item.themes__item-selected(data-element="1") Web3
            .themes__item(data-element="2") Мобильная разработка
            .themes__item(data-element="3") Питон
            .themes__item(data-element="4") SQL
            .themes__item(data-element="5") Резина
        .themes__blocks
            .themes__block.block.themes__block-selected(data-element="1")
                .block__row
                    .block__col
                        .block__col-title Web3
                        .block__col-text Java (не путать с JavaScript) — строго типизированный объектно-ориентированный язык программирования. Приложения Java обычно транслируются в специальный байт-код, поэтому они могут работать на любой компьютерной архитектуре, с помощью виртуальной Java-машины (JVM). Используйте эту метку для вопросов, относящихся к языку Java или инструментам из платформы Java.
                    .block__col.block__col-right
                        .wrap
                            .block__col-questions <span>47,129</span> вопросов
                            .block__col-followers <span>124</span> подписичков
                        a.block__col-cta Задать вопрос
            .themes__block.block(data-element="2")
                .block__row
                    .block__col
                        .block__col-title Web3
                        .block__col-text Java (не путать с JavaScript) — строго типизированный объектно-ориентированный язык программирования. Приложения Java обычно транслируются в специальный байт-код, поэтому они могут работать на любой компьютерной архитектуре, с помощью виртуальной Java-машины (JVM). Используйте эту метку для вопросов, относящихся к языку Java или инструментам из платформы Java.
                    .block__col.block__col-right
                        .wrap
                            .block__col-questions <span>47,129</span> вопросов
                            .block__col-followers <span>124</span> подписичков
                        a.block__col-cta Задать вопрос