.themes-filter.filter
    .filter__wrapper.container
        .filter__boxes
            .checkbox
                input(type="checkbox", name="" id="c_1")
                label(for="c_1") Открытый
            .checkbox
                input(type="checkbox", name="" id="c_2" checked)
                label(for="c_2") Закрытый