.questions-list.list.content-block
    .list__wrapper.container
        .list__item.questions-item.item.item-closed
            .item__row
                .item__col.item__col-left
                    .text-wrap
                        .item__title В чем разница между having и in в SQ?
                        .item__tags
                            a.item__tag swift
                            a.item__tag javascript
                            a.item__tag java
                            a.item__tag c#
                            a.item__tag c++
                    .item__details 2 голоса&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3 ответа&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9 апреля 23:59
                .item__col.item__col-right
                    .btn.btn-green Пометить как закрытый
        .list__item.questions-item.item.item-closed
            .item__row
                .item__col.item__col-left
                    .text-wrap
                        .item__title В чем разница между having и in в SQ?
                        .item__tags
                            a.item__tag swift
                            a.item__tag javascript
                            a.item__tag java
                            a.item__tag c#
                            a.item__tag c++
                    .item__details 2 голоса&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3 ответа&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9 апреля 23:59
                .item__col.item__col-right
                    .btn.btn-green Пометить как закрытый