.my-themes-list.list.content-block
    .list__wrapper.container
        .list__title.h2 Мои темы
        .list__items
            a.list__item.theme-item.item Java <span>15 вопросов</span>
            a.list__item.theme-item.item Искусственный интелект <span>0 вопросов</span>
            a.list__item.theme-item.item Алгоритмы <span>0 вопросов</span>
        .list__more
            p Нет подходящей темы? Всегда можно добавить еще одну!
            .btn Добавить тему