.index-profile {
    .profile__row {
        display: flex;
        justify-content: space-between;
    }

    .profile__title {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 40px;
        max-width: 350px;
    }

    .profile__text {
        max-width: 560px;
        font-size: 16px;
    }

    .profile__col-right {
        display: flex;
        align-items: flex-end;

        .btn {
            margin-right: 10px;
        }
    }
}
