.questions-single.single.content-block
    .single__wrapper.container
        .single__item.questions-item.item
            .item__row
                .item__col.item__col-left
                    .text-wrap
                        .item__title В чем разница между having и in в SQ?
                        .item__tags
                            a.item__tag swift
                            a.item__tag javascript
                            a.item__tag java
                            a.item__tag c#
                            a.item__tag c++
                            a.item__tag.item__tag-level c++
                .item__col.item__col-right
                    .text-wrap
                        <div class="item__author">
                            <div class="img-cage">
                                <img src="/img/avatar.png" alt="">
                            </div>
                            <p>@diana,
                                <span>124 опыта</span>
                                <span class="date">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 неделю(и) назад</span>
                            </p>
                        </div>
                    .item__favourite.favourite-btn
        .single__desc Найдите все натуральные числа, принадлежащие отрезку [1 000 000; 5 000 000], у которых ровно десять различных делителей, пять из которых четные и пять нечетные. В ответе перечислите найденные числа в порядке возрастания. Каждое число вводится в новое поле.
        .single__checkbox
            .checkbox
                input(type="checkbox", name="" id="c_1")
                label(for="c_1") отметить как пройденный