.question-replies.replies
    .replies__wrapper.container
        .replies__title
            .wrap
                .h3 2 ответа
            .wrap
                //- .replies__sorting.sorting.select
                //-     .select__item
                //-         .item
                //-             .item__head
                //-                 span Сортировка
                //-                 <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                //-                     <path d="M1 1L5 5L9 1" stroke="#D3D3D3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                //-                 </svg>
                //-             .item__options
                //-                 input(type="hidden", name="")
                //-                 .option-wrap
                //-                     input.item__option(type="radio", name="", data-text="По популярности", data-selected-value="1")
                //-                     label По популярности
                //-                 .option-wrap
                //-                     input.item__option(type="radio", name="", data-text="Недавние", data-selected-value="2")
                //-                     label Недавние
        .replies__items
            .replies__item.item
                .item__row
                    .item__upper
                        .item__author
                            .item__author-image
                                img(src="img/avatar.png", alt="")
                            .item__author-name @grigory_nesterov
                        .item__date 9 апреля 23:59
                    .item__text Перепробовал много вариантов, но пока без особых успехов. Сейчас на этапе создания цикла, который бы парсил нужные значения в пределах id, сохранял и переходил к следующему id. Но пока всё работает некорректно.
                    .item__rate.rate
                        .rate-up.rate-block
                            input(type="checkbox", name="n_1", id="l_1")
                            label(for="l_1") 
                            p 70
                        .rate-down.rate-block
                            input(type="checkbox", name="n_1", id="d_1")
                            label(for="d_1") 
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.6826 12.0004L11.6826 21.0004C10.887 21.0004 10.1239 20.6843 9.56133 20.1217C8.99872 19.5591 8.68265 18.796 8.68265 18.0004V14.0004H3.02265C2.73274 14.0036 2.44558 13.9439 2.18108 13.8251C1.91657 13.7064 1.68103 13.5316 1.49079 13.3128C1.30055 13.0941 1.16014 12.8365 1.07931 12.5581C0.998473 12.2797 0.97914 11.987 1.02265 11.7004L2.40265 2.70036C2.47497 2.22346 2.71721 1.78875 3.08474 1.47636C3.45227 1.16396 3.92032 0.994909 4.40265 1.00036H15.6826M15.6826 12.0004V1.00036M15.6826 12.0004H18.3526C18.9186 12.0104 19.4685 11.8122 19.8981 11.4435C20.3276 11.0749 20.6068 10.5613 20.6826 10.0004V3.00036C20.6068 2.43942 20.3276 1.92586 19.8981 1.55718C19.4685 1.1885 18.9186 0.990352 18.3526 1.00036H15.6826" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            p 0
                        .rate-reply Ответить
                .item__row-sm
                    .item__upper
                        .item__author
                            .item__author-image
                                img(src="img/avatar.png", alt="")
                            .item__author-name @grigory
                        .item__date 9 апреля 23:59
                    .item__text Перепробовал много вариантов, но пока без особых успехов. Сейчас на этапе создания цикла, который бы парсил нужные значения в пределах id, сохранял и переходил к следующему id. Но пока всё работает некорректно.
                    .item__rate.rate
                        .rate-up.rate-block
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 10L10 1C10.7956 1 11.5587 1.31607 12.1213 1.87868C12.6839 2.44129 13 3.20435 13 4V8H18.66C18.9499 7.99672 19.2371 8.0565 19.5016 8.17522C19.7661 8.29393 20.0016 8.46873 20.1919 8.68751C20.3821 8.90629 20.5225 9.16382 20.6033 9.44225C20.6842 9.72068 20.7035 10.0134 20.66 10.3L19.28 19.3C19.2077 19.7769 18.9654 20.2116 18.5979 20.524C18.2304 20.8364 17.7623 21.0055 17.28 21H6M6 10V21M6 10H3C2.46957 10 1.96086 10.2107 1.58579 10.5858C1.21071 10.9609 1 11.4696 1 12V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21H6" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            p 70
                        .rate-down.rate-block
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.6826 12.0004L11.6826 21.0004C10.887 21.0004 10.1239 20.6843 9.56133 20.1217C8.99872 19.5591 8.68265 18.796 8.68265 18.0004V14.0004H3.02265C2.73274 14.0036 2.44558 13.9439 2.18108 13.8251C1.91657 13.7064 1.68103 13.5316 1.49079 13.3128C1.30055 13.0941 1.16014 12.8365 1.07931 12.5581C0.998473 12.2797 0.97914 11.987 1.02265 11.7004L2.40265 2.70036C2.47497 2.22346 2.71721 1.78875 3.08474 1.47636C3.45227 1.16396 3.92032 0.994909 4.40265 1.00036H15.6826M15.6826 12.0004V1.00036M15.6826 12.0004H18.3526C18.9186 12.0104 19.4685 11.8122 19.8981 11.4435C20.3276 11.0749 20.6068 10.5613 20.6826 10.0004V3.00036C20.6068 2.43942 20.3276 1.92586 19.8981 1.55718C19.4685 1.1885 18.9186 0.990352 18.3526 1.00036H15.6826" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            p 0
                        .rate-reply Ответить
                .item__row-sm
                    .item__upper
                        .item__author
                            .item__author-image
                                img(src="img/avatar.png", alt="")
                            .item__author-name @grigory
                        .item__date 9 апреля 23:59
                    .item__text Перепробовал много вариантов, но пока без особых успехов. Сейчас на этапе создания цикла, который бы парсил нужные значения в пределах id, сохранял и переходил к следующему id. Но пока всё работает некорректно.
                    .item__rate.rate
                        .rate-up.rate-block
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 10L10 1C10.7956 1 11.5587 1.31607 12.1213 1.87868C12.6839 2.44129 13 3.20435 13 4V8H18.66C18.9499 7.99672 19.2371 8.0565 19.5016 8.17522C19.7661 8.29393 20.0016 8.46873 20.1919 8.68751C20.3821 8.90629 20.5225 9.16382 20.6033 9.44225C20.6842 9.72068 20.7035 10.0134 20.66 10.3L19.28 19.3C19.2077 19.7769 18.9654 20.2116 18.5979 20.524C18.2304 20.8364 17.7623 21.0055 17.28 21H6M6 10V21M6 10H3C2.46957 10 1.96086 10.2107 1.58579 10.5858C1.21071 10.9609 1 11.4696 1 12V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21H6" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            p 70
                        .rate-down.rate-block
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.6826 12.0004L11.6826 21.0004C10.887 21.0004 10.1239 20.6843 9.56133 20.1217C8.99872 19.5591 8.68265 18.796 8.68265 18.0004V14.0004H3.02265C2.73274 14.0036 2.44558 13.9439 2.18108 13.8251C1.91657 13.7064 1.68103 13.5316 1.49079 13.3128C1.30055 13.0941 1.16014 12.8365 1.07931 12.5581C0.998473 12.2797 0.97914 11.987 1.02265 11.7004L2.40265 2.70036C2.47497 2.22346 2.71721 1.78875 3.08474 1.47636C3.45227 1.16396 3.92032 0.994909 4.40265 1.00036H15.6826M15.6826 12.0004V1.00036M15.6826 12.0004H18.3526C18.9186 12.0104 19.4685 11.8122 19.8981 11.4435C20.3276 11.0749 20.6068 10.5613 20.6826 10.0004V3.00036C20.6068 2.43942 20.3276 1.92586 19.8981 1.55718C19.4685 1.1885 18.9186 0.990352 18.3526 1.00036H15.6826" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            p 0
                        .rate-reply Ответить
            .replies__item.item
                .item__row
                    .item__upper
                        .item__author
                            .item__author-image
                                img(src="img/avatar.png", alt="")
                            .item__author-name @grigory_nesterov
                        .item__date 9 апреля 23:59
                    .item__text Перепробовал много вариантов, но пока без особых успехов. Сейчас на этапе создания цикла, который бы парсил нужные значения в пределах id, сохранял и переходил к следующему id. Но пока всё работает некорректно.
                    .item__rate.rate
                        .rate-up.rate-block
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 10L10 1C10.7956 1 11.5587 1.31607 12.1213 1.87868C12.6839 2.44129 13 3.20435 13 4V8H18.66C18.9499 7.99672 19.2371 8.0565 19.5016 8.17522C19.7661 8.29393 20.0016 8.46873 20.1919 8.68751C20.3821 8.90629 20.5225 9.16382 20.6033 9.44225C20.6842 9.72068 20.7035 10.0134 20.66 10.3L19.28 19.3C19.2077 19.7769 18.9654 20.2116 18.5979 20.524C18.2304 20.8364 17.7623 21.0055 17.28 21H6M6 10V21M6 10H3C2.46957 10 1.96086 10.2107 1.58579 10.5858C1.21071 10.9609 1 11.4696 1 12V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21H6" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            p 70
                        .rate-down.rate-block
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.6826 12.0004L11.6826 21.0004C10.887 21.0004 10.1239 20.6843 9.56133 20.1217C8.99872 19.5591 8.68265 18.796 8.68265 18.0004V14.0004H3.02265C2.73274 14.0036 2.44558 13.9439 2.18108 13.8251C1.91657 13.7064 1.68103 13.5316 1.49079 13.3128C1.30055 13.0941 1.16014 12.8365 1.07931 12.5581C0.998473 12.2797 0.97914 11.987 1.02265 11.7004L2.40265 2.70036C2.47497 2.22346 2.71721 1.78875 3.08474 1.47636C3.45227 1.16396 3.92032 0.994909 4.40265 1.00036H15.6826M15.6826 12.0004V1.00036M15.6826 12.0004H18.3526C18.9186 12.0104 19.4685 11.8122 19.8981 11.4435C20.3276 11.0749 20.6068 10.5613 20.6826 10.0004V3.00036C20.6068 2.43942 20.3276 1.92586 19.8981 1.55718C19.4685 1.1885 18.9186 0.990352 18.3526 1.00036H15.6826" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            p 0
                        .rate-reply Ответить
                    form.item__reply.reply
                        p Ответ @grigory_nesterov:
                        .wrap
                            input(type="text", name="", placeholder="Текст ответа")
                            input(type="submit", value="")
                .item__row-sm
                    .item__upper
                        .item__author
                            .item__author-image
                                img(src="img/avatar.png", alt="")
                            .item__author-name @grigory
                        .item__date 9 апреля 23:59
                    .item__text Перепробовал много вариантов, но пока без особых успехов. Сейчас на этапе создания цикла, который бы парсил нужные значения в пределах id, сохранял и переходил к следующему id. Но пока всё работает некорректно.
                    .item__rate.rate
                        .rate-up.rate-block
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 10L10 1C10.7956 1 11.5587 1.31607 12.1213 1.87868C12.6839 2.44129 13 3.20435 13 4V8H18.66C18.9499 7.99672 19.2371 8.0565 19.5016 8.17522C19.7661 8.29393 20.0016 8.46873 20.1919 8.68751C20.3821 8.90629 20.5225 9.16382 20.6033 9.44225C20.6842 9.72068 20.7035 10.0134 20.66 10.3L19.28 19.3C19.2077 19.7769 18.9654 20.2116 18.5979 20.524C18.2304 20.8364 17.7623 21.0055 17.28 21H6M6 10V21M6 10H3C2.46957 10 1.96086 10.2107 1.58579 10.5858C1.21071 10.9609 1 11.4696 1 12V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21H6" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            p 70
                        .rate-down.rate-block
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.6826 12.0004L11.6826 21.0004C10.887 21.0004 10.1239 20.6843 9.56133 20.1217C8.99872 19.5591 8.68265 18.796 8.68265 18.0004V14.0004H3.02265C2.73274 14.0036 2.44558 13.9439 2.18108 13.8251C1.91657 13.7064 1.68103 13.5316 1.49079 13.3128C1.30055 13.0941 1.16014 12.8365 1.07931 12.5581C0.998473 12.2797 0.97914 11.987 1.02265 11.7004L2.40265 2.70036C2.47497 2.22346 2.71721 1.78875 3.08474 1.47636C3.45227 1.16396 3.92032 0.994909 4.40265 1.00036H15.6826M15.6826 12.0004V1.00036M15.6826 12.0004H18.3526C18.9186 12.0104 19.4685 11.8122 19.8981 11.4435C20.3276 11.0749 20.6068 10.5613 20.6826 10.0004V3.00036C20.6068 2.43942 20.3276 1.92586 19.8981 1.55718C19.4685 1.1885 18.9186 0.990352 18.3526 1.00036H15.6826" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            p 0
                        .rate-reply Ответить
                    form.item__reply.reply
                        p Ответ @grigory_nesterov:
                        .wrap
                            input(type="text", name="", placeholder="Текст ответа")
                            input(type="submit", value="")