.question-reply.reply.content-block
    .reply__wrapper.container
        .reply__box.box
            .box__avatar
                .img-cage
                    img(src="img/diana.jpeg", alt="")
            .box__text
                input(type="text", name="", placeholder="Введите ответ")
            .box__btn.btn Отправить ответ