.vacancies-filter.filter.content-section
    .filter__wrapper.container
        .filter__boxes
            .filter__box
                .box-title Позиции
                .box-checkboxes.checkboxes-filled
                    .checkbox
                        input(type="checkbox", name="" id="c_1")
                        label(for="c_1") BA
                    .checkbox
                        input(type="checkbox", name="" id="c_2" checked)
                        label(for="c_2") Frontend
                    .checkbox
                        input(type="checkbox", name="" id="c_3")
                        label(for="c_3") Project manager
            .filter__box
                .box-title Компании
                .box-checkboxes.checkboxes-filled
                    .checkbox
                        input(type="checkbox", name="" id="c_4")
                        label(for="c_4") EPAM Systems
                    .checkbox
                        input(type="checkbox", name="" id="c_5" checked)
                        label(for="c_5") Modsen
                    .checkbox
                        input(type="checkbox", name="" id="c_6")
                        label(for="c_6") LeverX
                    .checkbox
                        input(type="checkbox", name="" id="c_7")
                        label(for="c_7") IBA GROUP