.vacancies-list.list.content-block
    .list__wrapper.container
        .list__items
            div
                .list__item.vacancies-item.item
                    .item__row
                        .item__col.item__col-left
                            .item__title Project Manager
                            .item__tags
                                .item__tag джуниор
                                .item__tag.item__tag-company EPAM
                                .item__tag.item__tag-inq 15 откликов
                        .item__col.item__col-right
                            .item__favourite.favourite-btn
                    .item__row.item__row-bottom
                        .item__text Мы в поиске талантливого разработчика, которые будет согласен работать с легсаи! Еще немного текста чуть-чуть да вот побольше
                        .btn Откликнуться