.progress-circle.circle.content-block
    .circle__wrapper.container
        .circle__item(style="--percent: 28;")
            p 28%
        .circle__text
            p Процент прогресса считается из расчета отмеченных пройденных вопросов к общему количеству из категории.
            .done Пройдено вопросов – <span>14/24</span>