.progress-radios.progress.content-section
    .progress__wrapper.container
        .progress__radios.radios
            .radio
                input(type="radio", name="", id="r_1", checked)
                label(for="r_1") Вопросы из избранного
            .radio
                input(type="radio", name="", id="r_2")
                label(for="r_2") Вопросы из категории