.profile-detail {
    .detail__row {
        display: flex;
        flex-wrap: wrap;
    }

    .detail__col-item {
        background: #fff;
        border-radius: 10px;
        padding: 20px;
        width: 230px;
        min-width: 230px;
        aspect-ratio: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .item__row-upper {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .item__image {
        .img-cage {
            width: 91px;
            height: 91px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .item__edit {
        background: #ff5722;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 46px;
        height: 46px;
        cursor: pointer;

        img {
            pointer-events: none;
        }
    }

    .item__username {
        font-weight: 700;
        font-size: 12px;
        color: #bababa;
        margin-bottom: 5px;
    }

    .item__name {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 5px;
    }

    .item__mail {
        font-weight: 600;
        font-size: 12px;
    }

    .detail__col-info {
        background: #fff;
        padding: 30px;
        border-radius: 10px;
        min-width: 550px;
        width: calc(100% - 20px - 230px);
        margin-bottom: 10px;

        @include sm-tablet {
            width: 100%;
            min-width: 100%;
            padding-bottom: 35px;
        }

        .info__incorrect {
            p {
                font-size: 12px;
                margin-top: 10px;
                color: #ff3e24;
                text-align: center;
            }
        }
        .info__field {
            display: flex;
            align-items: center;
            margin-bottom: 3px;

            @include sm-tablet {
                flex-direction: column;
                margin-bottom: 10px;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            span {
                display: block;
                white-space: nowrap;
                width: 120px;
                margin-right: 40px;
                font-weight: 700;
                font-size: 14px;

                @include sm-tablet {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 5px;
                }
            }

            .file-wrap {
                display: flex;
                align-items: center;
                border: 2px solid #d3d3d3;
                border-radius: 10px;
                height: 40px;
                width: calc(100% - 40px - 120px);

                @include sm-tablet {
                    width: 100%;
                }
            }

            .file-btn {
                padding: 11px 28px;
                background-color: $color-accent;
                color: #fff;
                border-radius: 10px;
                font-weight: 700;
                font-size: 13px;
                margin-left: -2px;
                white-space: nowrap;
            }

            input[type="file"] {
                display: none;
            }

            .file-name {
                margin-left: 20px;
                font-size: 14px;
                font-weight: 600;
                max-width: 320px;
                overflow: hidden;
                white-space: nowrap;
                margin-right: 20px;
            }

            .field-wrap {
                width: calc(100% - 40px - 120px);

                @include sm-tablet {
                    width: 100%;
                }

                input {
                    border: 2px solid #d3d3d3;
                    border-radius: 10px;
                    height: 40px;
                    width: 100%;
                    outline: none;
                    font-family: "Manrope";
                    padding: 11px 22px;
                    font-weight: 600;
                    font-size: 14px;
                }
            }
        }

        .info__field-company {
            position: relative;

            .field-banner {
                position: relative;
                margin-left: -28px;
                width: 11px;
                height: 11px;
                border-radius: 50%;
                background: #39db2b;

                @include sm-tablet {
                    position: absolute;
                    bottom: 14px;
                    right: 20px;
                }

                p {
                    opacity: 0;
                    transition: opacity 0.25s ease-in-out;
                    position: absolute;
                    background: #fff;
                    border-radius: 10px;
                    padding: 11px 13px;
                    min-width: 220px;
                    top: 16px;
                    left: 22px;
                    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.08);
                    font-size: 12px;
                    line-height: 16px;
                }
            }

            &:hover {
                p {
                    opacity: 1;
                }
            }
        }
    }

    .detail__col-info.info-blured {
        opacity: 0.5;
        pointer-events: none;
    }
}
