.themes-filter.filter
    .filter__wrapper.container
        .filter__boxes
            .checkbox
                input(type="checkbox", name="" id="c_1")
                label(for="c_1") Web3
            .checkbox
                input(type="checkbox", name="" id="c_2" checked)
                label(for="c_2") Мобильная разработка
            .checkbox
                input(type="checkbox", name="" id="c_3")
                label(for="c_3") Методологии