.theme-list.theme
    .theme__wrapper.container
        .theme__single.content-section
            .theme__title.h3 Web3
            .theme__items
                a.theme__item.theme-item.item Алгоритмы <span>dw</span><p class="validated"></p>
                a.theme__item.theme-item.item Искусственный интелект
                a.theme__item.theme-item.item Алгоритмы
                a.theme__item.theme-item.item Java
        .theme__more
            p Не нашли подходящую тему? Тогда можно создать новую!
            .btn Добавить тему