.popups
    .popup
        .popup-wrap
        .popup__wrap
            .wrap
                .popup__row.popup__row-upper
                    .popup__title.h2 Регистрация
                    .popup__btn.remove-btn
                .popup__inner.inner
                    .inner__tabs
                        .inner__tab.inner__tab-selected(data-element="1") Рекрутерам
                        .inner__tab(data-element="2") Соискателям
                    .inner__details
                        .inner__detail.inner__detail-selected(data-element="1")
                            .popup__form.d_form
                                .form__field.form__field-hinted
                                    label Имя и фамилия <span>*</span>
                                    input(type="text", name="", placeholder="Селин Диор")
                                    .field-invalid
                                        .invalid-wrap
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_8_22180)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.80957 0C3.67551 0 0.30957 3.36594 0.30957 7.5C0.30957 11.6341 3.67551 15 7.80957 15C11.9436 15 15.3096 11.6341 15.3096 7.5C15.3096 3.36594 11.9436 0 7.80957 0ZM7.80957 1.36364C11.2067 1.36364 13.9459 4.1029 13.9459 7.5C13.9459 10.8971 11.2067 13.6364 7.80957 13.6364C4.41247 13.6364 1.67321 10.8971 1.67321 7.5C1.67321 4.1029 4.41247 1.36364 7.80957 1.36364ZM7.79893 3.39977C7.61833 3.40259 7.44623 3.47694 7.3204 3.60652C7.19456 3.7361 7.12528 3.9103 7.12775 4.09091V8.59064C7.12647 8.68099 7.14317 8.77069 7.17686 8.85454C7.21055 8.93838 7.26057 9.01469 7.32401 9.07903C7.38745 9.14337 7.46304 9.19447 7.5464 9.22934C7.62976 9.26421 7.71921 9.28217 7.80957 9.28217C7.89993 9.28217 7.98939 9.26421 8.07274 9.22934C8.1561 9.19447 8.23169 9.14337 8.29513 9.07903C8.35857 9.01469 8.40859 8.93838 8.44228 8.85454C8.47598 8.77069 8.49267 8.68099 8.49139 8.59064V4.09091C8.49264 3.99969 8.47557 3.90915 8.4412 3.82464C8.40682 3.74014 8.35584 3.66339 8.29127 3.59894C8.2267 3.5345 8.14985 3.48366 8.06528 3.44945C7.98071 3.41524 7.89015 3.39834 7.79893 3.39977ZM7.80957 10.2273C7.62874 10.2273 7.45532 10.2991 7.32745 10.427C7.19959 10.5548 7.12775 10.7283 7.12775 10.9091C7.12775 11.0899 7.19959 11.2633 7.32745 11.3912C7.45532 11.5191 7.62874 11.5909 7.80957 11.5909C7.9904 11.5909 8.16382 11.5191 8.29169 11.3912C8.41955 11.2633 8.49139 11.0899 8.49139 10.9091C8.49139 10.7283 8.41955 10.5548 8.29169 10.427C8.16382 10.2991 7.9904 10.2273 7.80957 10.2273Z" fill="#FF5722" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_8_22180">
                                                        <rect width="15" height="15" fill="white" transform="translate(0.30957)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            p Некорректное поле
                                    ul.field-hints
                                        li ferfer
                                        li ferfer
                                .form__field
                                    label Почта <span>*</span>
                                    input(type="email", name="", placeholder="email@mail.com")
                                    .field-invalid
                                        .invalid-wrap
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_8_22180)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.80957 0C3.67551 0 0.30957 3.36594 0.30957 7.5C0.30957 11.6341 3.67551 15 7.80957 15C11.9436 15 15.3096 11.6341 15.3096 7.5C15.3096 3.36594 11.9436 0 7.80957 0ZM7.80957 1.36364C11.2067 1.36364 13.9459 4.1029 13.9459 7.5C13.9459 10.8971 11.2067 13.6364 7.80957 13.6364C4.41247 13.6364 1.67321 10.8971 1.67321 7.5C1.67321 4.1029 4.41247 1.36364 7.80957 1.36364ZM7.79893 3.39977C7.61833 3.40259 7.44623 3.47694 7.3204 3.60652C7.19456 3.7361 7.12528 3.9103 7.12775 4.09091V8.59064C7.12647 8.68099 7.14317 8.77069 7.17686 8.85454C7.21055 8.93838 7.26057 9.01469 7.32401 9.07903C7.38745 9.14337 7.46304 9.19447 7.5464 9.22934C7.62976 9.26421 7.71921 9.28217 7.80957 9.28217C7.89993 9.28217 7.98939 9.26421 8.07274 9.22934C8.1561 9.19447 8.23169 9.14337 8.29513 9.07903C8.35857 9.01469 8.40859 8.93838 8.44228 8.85454C8.47598 8.77069 8.49267 8.68099 8.49139 8.59064V4.09091C8.49264 3.99969 8.47557 3.90915 8.4412 3.82464C8.40682 3.74014 8.35584 3.66339 8.29127 3.59894C8.2267 3.5345 8.14985 3.48366 8.06528 3.44945C7.98071 3.41524 7.89015 3.39834 7.79893 3.39977ZM7.80957 10.2273C7.62874 10.2273 7.45532 10.2991 7.32745 10.427C7.19959 10.5548 7.12775 10.7283 7.12775 10.9091C7.12775 11.0899 7.19959 11.2633 7.32745 11.3912C7.45532 11.5191 7.62874 11.5909 7.80957 11.5909C7.9904 11.5909 8.16382 11.5191 8.29169 11.3912C8.41955 11.2633 8.49139 11.0899 8.49139 10.9091C8.49139 10.7283 8.41955 10.5548 8.29169 10.427C8.16382 10.2991 7.9904 10.2273 7.80957 10.2273Z" fill="#FF5722" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_8_22180">
                                                        <rect width="15" height="15" fill="white" transform="translate(0.30957)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            p Некорректное поле
                                .form__field.form__field-select
                                    label Компания <span>*</span>
                                    .select
                                        .select__item
                                            .item
                                                .item__head
                                                    span Выберите компанию
                                                    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M1 1L5 5L9 1" stroke="#D3D3D3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                .item__options
                                                    input(type="hidden", name="")
                                                    .option-wrap
                                                        input.item__option(type="radio", name="", data-text="Frontend разработчик", data-selected-value="1")
                                                        label Frontend разработчик
                                                    .option-wrap
                                                        input.item__option(type="radio", name="", data-text="Backend разработчик", data-selected-value="2")
                                                        label Backend разработчик
                                                    .option-wrap
                                                        input.item__option(type="radio", name="", data-text="gregr", data-selected-value="4")
                                                        label gregr
                                                    .option-wrap
                                                        input.item__option(type="radio", name="", data-text="gergreger5t43", data-selected-value="5")
                                                        label gergreger5t43
                                                    .option-wrap
                                                        input.item__option(type="radio", name="", data-text="vfdvdv", data-selected-value="6")
                                                        label vfdvdv
                                .form__field.form__field-file
                                    label Документ, подтверждающий, что вы являетесь сотрудником выбранной компании <span>*</span>
                                    .file-wrap
                                        label.file-btn(for="file-upload") Выберите файл
                                        input.file-upload(type="file", name="")
                                        .file-name
                                .form__field
                                    label Пароль <span>*</span>
                                    input(type="password", name="", placeholder="********")
                                    .field-invalid
                                        .invalid-wrap
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_8_22180)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.80957 0C3.67551 0 0.30957 3.36594 0.30957 7.5C0.30957 11.6341 3.67551 15 7.80957 15C11.9436 15 15.3096 11.6341 15.3096 7.5C15.3096 3.36594 11.9436 0 7.80957 0ZM7.80957 1.36364C11.2067 1.36364 13.9459 4.1029 13.9459 7.5C13.9459 10.8971 11.2067 13.6364 7.80957 13.6364C4.41247 13.6364 1.67321 10.8971 1.67321 7.5C1.67321 4.1029 4.41247 1.36364 7.80957 1.36364ZM7.79893 3.39977C7.61833 3.40259 7.44623 3.47694 7.3204 3.60652C7.19456 3.7361 7.12528 3.9103 7.12775 4.09091V8.59064C7.12647 8.68099 7.14317 8.77069 7.17686 8.85454C7.21055 8.93838 7.26057 9.01469 7.32401 9.07903C7.38745 9.14337 7.46304 9.19447 7.5464 9.22934C7.62976 9.26421 7.71921 9.28217 7.80957 9.28217C7.89993 9.28217 7.98939 9.26421 8.07274 9.22934C8.1561 9.19447 8.23169 9.14337 8.29513 9.07903C8.35857 9.01469 8.40859 8.93838 8.44228 8.85454C8.47598 8.77069 8.49267 8.68099 8.49139 8.59064V4.09091C8.49264 3.99969 8.47557 3.90915 8.4412 3.82464C8.40682 3.74014 8.35584 3.66339 8.29127 3.59894C8.2267 3.5345 8.14985 3.48366 8.06528 3.44945C7.98071 3.41524 7.89015 3.39834 7.79893 3.39977ZM7.80957 10.2273C7.62874 10.2273 7.45532 10.2991 7.32745 10.427C7.19959 10.5548 7.12775 10.7283 7.12775 10.9091C7.12775 11.0899 7.19959 11.2633 7.32745 11.3912C7.45532 11.5191 7.62874 11.5909 7.80957 11.5909C7.9904 11.5909 8.16382 11.5191 8.29169 11.3912C8.41955 11.2633 8.49139 11.0899 8.49139 10.9091C8.49139 10.7283 8.41955 10.5548 8.29169 10.427C8.16382 10.2991 7.9904 10.2273 7.80957 10.2273Z" fill="#FF5722" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_8_22180">
                                                        <rect width="15" height="15" fill="white" transform="translate(0.30957)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            p Некорректное поле
                                .form__field
                                    label Подтвердите пароль <span>*</span>
                                    input(type="password", name="", placeholder="********")
                                    .field-invalid
                                        .invalid-wrap
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_8_22180)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.80957 0C3.67551 0 0.30957 3.36594 0.30957 7.5C0.30957 11.6341 3.67551 15 7.80957 15C11.9436 15 15.3096 11.6341 15.3096 7.5C15.3096 3.36594 11.9436 0 7.80957 0ZM7.80957 1.36364C11.2067 1.36364 13.9459 4.1029 13.9459 7.5C13.9459 10.8971 11.2067 13.6364 7.80957 13.6364C4.41247 13.6364 1.67321 10.8971 1.67321 7.5C1.67321 4.1029 4.41247 1.36364 7.80957 1.36364ZM7.79893 3.39977C7.61833 3.40259 7.44623 3.47694 7.3204 3.60652C7.19456 3.7361 7.12528 3.9103 7.12775 4.09091V8.59064C7.12647 8.68099 7.14317 8.77069 7.17686 8.85454C7.21055 8.93838 7.26057 9.01469 7.32401 9.07903C7.38745 9.14337 7.46304 9.19447 7.5464 9.22934C7.62976 9.26421 7.71921 9.28217 7.80957 9.28217C7.89993 9.28217 7.98939 9.26421 8.07274 9.22934C8.1561 9.19447 8.23169 9.14337 8.29513 9.07903C8.35857 9.01469 8.40859 8.93838 8.44228 8.85454C8.47598 8.77069 8.49267 8.68099 8.49139 8.59064V4.09091C8.49264 3.99969 8.47557 3.90915 8.4412 3.82464C8.40682 3.74014 8.35584 3.66339 8.29127 3.59894C8.2267 3.5345 8.14985 3.48366 8.06528 3.44945C7.98071 3.41524 7.89015 3.39834 7.79893 3.39977ZM7.80957 10.2273C7.62874 10.2273 7.45532 10.2991 7.32745 10.427C7.19959 10.5548 7.12775 10.7283 7.12775 10.9091C7.12775 11.0899 7.19959 11.2633 7.32745 11.3912C7.45532 11.5191 7.62874 11.5909 7.80957 11.5909C7.9904 11.5909 8.16382 11.5191 8.29169 11.3912C8.41955 11.2633 8.49139 11.0899 8.49139 10.9091C8.49139 10.7283 8.41955 10.5548 8.29169 10.427C8.16382 10.2991 7.9904 10.2273 7.80957 10.2273Z" fill="#FF5722" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_8_22180">
                                                        <rect width="15" height="15" fill="white" transform="translate(0.30957)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            p Некорректное поле
                        .inner__detail(data-element="2")
                            .popup__form.d_form
                                .form__field
                                    label Имя и фамилия <span>*</span>
                                    input(type="text", name="", placeholder="Селин Диор")
                                    .field-invalid
                                        .invalid-wrap
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_8_22180)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.80957 0C3.67551 0 0.30957 3.36594 0.30957 7.5C0.30957 11.6341 3.67551 15 7.80957 15C11.9436 15 15.3096 11.6341 15.3096 7.5C15.3096 3.36594 11.9436 0 7.80957 0ZM7.80957 1.36364C11.2067 1.36364 13.9459 4.1029 13.9459 7.5C13.9459 10.8971 11.2067 13.6364 7.80957 13.6364C4.41247 13.6364 1.67321 10.8971 1.67321 7.5C1.67321 4.1029 4.41247 1.36364 7.80957 1.36364ZM7.79893 3.39977C7.61833 3.40259 7.44623 3.47694 7.3204 3.60652C7.19456 3.7361 7.12528 3.9103 7.12775 4.09091V8.59064C7.12647 8.68099 7.14317 8.77069 7.17686 8.85454C7.21055 8.93838 7.26057 9.01469 7.32401 9.07903C7.38745 9.14337 7.46304 9.19447 7.5464 9.22934C7.62976 9.26421 7.71921 9.28217 7.80957 9.28217C7.89993 9.28217 7.98939 9.26421 8.07274 9.22934C8.1561 9.19447 8.23169 9.14337 8.29513 9.07903C8.35857 9.01469 8.40859 8.93838 8.44228 8.85454C8.47598 8.77069 8.49267 8.68099 8.49139 8.59064V4.09091C8.49264 3.99969 8.47557 3.90915 8.4412 3.82464C8.40682 3.74014 8.35584 3.66339 8.29127 3.59894C8.2267 3.5345 8.14985 3.48366 8.06528 3.44945C7.98071 3.41524 7.89015 3.39834 7.79893 3.39977ZM7.80957 10.2273C7.62874 10.2273 7.45532 10.2991 7.32745 10.427C7.19959 10.5548 7.12775 10.7283 7.12775 10.9091C7.12775 11.0899 7.19959 11.2633 7.32745 11.3912C7.45532 11.5191 7.62874 11.5909 7.80957 11.5909C7.9904 11.5909 8.16382 11.5191 8.29169 11.3912C8.41955 11.2633 8.49139 11.0899 8.49139 10.9091C8.49139 10.7283 8.41955 10.5548 8.29169 10.427C8.16382 10.2991 7.9904 10.2273 7.80957 10.2273Z" fill="#FF5722" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_8_22180">
                                                        <rect width="15" height="15" fill="white" transform="translate(0.30957)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            p Некорректное поле
                                .form__field
                                    label Почта <span>*</span>
                                    input(type="email", name="", placeholder="email@mail.com")
                                    .field-invalid
                                        .invalid-wrap
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_8_22180)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.80957 0C3.67551 0 0.30957 3.36594 0.30957 7.5C0.30957 11.6341 3.67551 15 7.80957 15C11.9436 15 15.3096 11.6341 15.3096 7.5C15.3096 3.36594 11.9436 0 7.80957 0ZM7.80957 1.36364C11.2067 1.36364 13.9459 4.1029 13.9459 7.5C13.9459 10.8971 11.2067 13.6364 7.80957 13.6364C4.41247 13.6364 1.67321 10.8971 1.67321 7.5C1.67321 4.1029 4.41247 1.36364 7.80957 1.36364ZM7.79893 3.39977C7.61833 3.40259 7.44623 3.47694 7.3204 3.60652C7.19456 3.7361 7.12528 3.9103 7.12775 4.09091V8.59064C7.12647 8.68099 7.14317 8.77069 7.17686 8.85454C7.21055 8.93838 7.26057 9.01469 7.32401 9.07903C7.38745 9.14337 7.46304 9.19447 7.5464 9.22934C7.62976 9.26421 7.71921 9.28217 7.80957 9.28217C7.89993 9.28217 7.98939 9.26421 8.07274 9.22934C8.1561 9.19447 8.23169 9.14337 8.29513 9.07903C8.35857 9.01469 8.40859 8.93838 8.44228 8.85454C8.47598 8.77069 8.49267 8.68099 8.49139 8.59064V4.09091C8.49264 3.99969 8.47557 3.90915 8.4412 3.82464C8.40682 3.74014 8.35584 3.66339 8.29127 3.59894C8.2267 3.5345 8.14985 3.48366 8.06528 3.44945C7.98071 3.41524 7.89015 3.39834 7.79893 3.39977ZM7.80957 10.2273C7.62874 10.2273 7.45532 10.2991 7.32745 10.427C7.19959 10.5548 7.12775 10.7283 7.12775 10.9091C7.12775 11.0899 7.19959 11.2633 7.32745 11.3912C7.45532 11.5191 7.62874 11.5909 7.80957 11.5909C7.9904 11.5909 8.16382 11.5191 8.29169 11.3912C8.41955 11.2633 8.49139 11.0899 8.49139 10.9091C8.49139 10.7283 8.41955 10.5548 8.29169 10.427C8.16382 10.2991 7.9904 10.2273 7.80957 10.2273Z" fill="#FF5722" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_8_22180">
                                                        <rect width="15" height="15" fill="white" transform="translate(0.30957)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            p Некорректное поле
                                .form__field
                                    label Пароль <span>*</span>
                                    input(type="password", name="", placeholder="********")
                                    .field-invalid
                                        .invalid-wrap
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_8_22180)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.80957 0C3.67551 0 0.30957 3.36594 0.30957 7.5C0.30957 11.6341 3.67551 15 7.80957 15C11.9436 15 15.3096 11.6341 15.3096 7.5C15.3096 3.36594 11.9436 0 7.80957 0ZM7.80957 1.36364C11.2067 1.36364 13.9459 4.1029 13.9459 7.5C13.9459 10.8971 11.2067 13.6364 7.80957 13.6364C4.41247 13.6364 1.67321 10.8971 1.67321 7.5C1.67321 4.1029 4.41247 1.36364 7.80957 1.36364ZM7.79893 3.39977C7.61833 3.40259 7.44623 3.47694 7.3204 3.60652C7.19456 3.7361 7.12528 3.9103 7.12775 4.09091V8.59064C7.12647 8.68099 7.14317 8.77069 7.17686 8.85454C7.21055 8.93838 7.26057 9.01469 7.32401 9.07903C7.38745 9.14337 7.46304 9.19447 7.5464 9.22934C7.62976 9.26421 7.71921 9.28217 7.80957 9.28217C7.89993 9.28217 7.98939 9.26421 8.07274 9.22934C8.1561 9.19447 8.23169 9.14337 8.29513 9.07903C8.35857 9.01469 8.40859 8.93838 8.44228 8.85454C8.47598 8.77069 8.49267 8.68099 8.49139 8.59064V4.09091C8.49264 3.99969 8.47557 3.90915 8.4412 3.82464C8.40682 3.74014 8.35584 3.66339 8.29127 3.59894C8.2267 3.5345 8.14985 3.48366 8.06528 3.44945C7.98071 3.41524 7.89015 3.39834 7.79893 3.39977ZM7.80957 10.2273C7.62874 10.2273 7.45532 10.2991 7.32745 10.427C7.19959 10.5548 7.12775 10.7283 7.12775 10.9091C7.12775 11.0899 7.19959 11.2633 7.32745 11.3912C7.45532 11.5191 7.62874 11.5909 7.80957 11.5909C7.9904 11.5909 8.16382 11.5191 8.29169 11.3912C8.41955 11.2633 8.49139 11.0899 8.49139 10.9091C8.49139 10.7283 8.41955 10.5548 8.29169 10.427C8.16382 10.2991 7.9904 10.2273 7.80957 10.2273Z" fill="#FF5722" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_8_22180">
                                                        <rect width="15" height="15" fill="white" transform="translate(0.30957)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            p Некорректное поле
                                .form__field
                                    label Подтвердите пароль <span>*</span>
                                    input(type="password", name="", placeholder="********")
                                    .field-invalid
                                        .invalid-wrap
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_8_22180)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.80957 0C3.67551 0 0.30957 3.36594 0.30957 7.5C0.30957 11.6341 3.67551 15 7.80957 15C11.9436 15 15.3096 11.6341 15.3096 7.5C15.3096 3.36594 11.9436 0 7.80957 0ZM7.80957 1.36364C11.2067 1.36364 13.9459 4.1029 13.9459 7.5C13.9459 10.8971 11.2067 13.6364 7.80957 13.6364C4.41247 13.6364 1.67321 10.8971 1.67321 7.5C1.67321 4.1029 4.41247 1.36364 7.80957 1.36364ZM7.79893 3.39977C7.61833 3.40259 7.44623 3.47694 7.3204 3.60652C7.19456 3.7361 7.12528 3.9103 7.12775 4.09091V8.59064C7.12647 8.68099 7.14317 8.77069 7.17686 8.85454C7.21055 8.93838 7.26057 9.01469 7.32401 9.07903C7.38745 9.14337 7.46304 9.19447 7.5464 9.22934C7.62976 9.26421 7.71921 9.28217 7.80957 9.28217C7.89993 9.28217 7.98939 9.26421 8.07274 9.22934C8.1561 9.19447 8.23169 9.14337 8.29513 9.07903C8.35857 9.01469 8.40859 8.93838 8.44228 8.85454C8.47598 8.77069 8.49267 8.68099 8.49139 8.59064V4.09091C8.49264 3.99969 8.47557 3.90915 8.4412 3.82464C8.40682 3.74014 8.35584 3.66339 8.29127 3.59894C8.2267 3.5345 8.14985 3.48366 8.06528 3.44945C7.98071 3.41524 7.89015 3.39834 7.79893 3.39977ZM7.80957 10.2273C7.62874 10.2273 7.45532 10.2991 7.32745 10.427C7.19959 10.5548 7.12775 10.7283 7.12775 10.9091C7.12775 11.0899 7.19959 11.2633 7.32745 11.3912C7.45532 11.5191 7.62874 11.5909 7.80957 11.5909C7.9904 11.5909 8.16382 11.5191 8.29169 11.3912C8.41955 11.2633 8.49139 11.0899 8.49139 10.9091C8.49139 10.7283 8.41955 10.5548 8.29169 10.427C8.16382 10.2991 7.9904 10.2273 7.80957 10.2273Z" fill="#FF5722" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_8_22180">
                                                        <rect width="15" height="15" fill="white" transform="translate(0.30957)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            p Некорректное поле
                .popup__row.popup__row-lower
                    p У вас еже есть аккаунт? <a>Войти</a>
                    .btn.btn-yellow Зарегистрироваться
    .popup
        .popup-wrap
        .popup__wrap
            .wrap
                .popup__row.popup__row-upper
                    .popup__title.h2 Авторизация
                    .popup__btn.remove-btn
                .popup__inner.inner
                    .popup__form.d_form
                        .form__field
                            label Логин или почта <span>*</span>
                            input(type="text", name="", placeholder="email@mail.com")
                            .field-invalid
                                .invalid-wrap
                                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_8_22180)">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.80957 0C3.67551 0 0.30957 3.36594 0.30957 7.5C0.30957 11.6341 3.67551 15 7.80957 15C11.9436 15 15.3096 11.6341 15.3096 7.5C15.3096 3.36594 11.9436 0 7.80957 0ZM7.80957 1.36364C11.2067 1.36364 13.9459 4.1029 13.9459 7.5C13.9459 10.8971 11.2067 13.6364 7.80957 13.6364C4.41247 13.6364 1.67321 10.8971 1.67321 7.5C1.67321 4.1029 4.41247 1.36364 7.80957 1.36364ZM7.79893 3.39977C7.61833 3.40259 7.44623 3.47694 7.3204 3.60652C7.19456 3.7361 7.12528 3.9103 7.12775 4.09091V8.59064C7.12647 8.68099 7.14317 8.77069 7.17686 8.85454C7.21055 8.93838 7.26057 9.01469 7.32401 9.07903C7.38745 9.14337 7.46304 9.19447 7.5464 9.22934C7.62976 9.26421 7.71921 9.28217 7.80957 9.28217C7.89993 9.28217 7.98939 9.26421 8.07274 9.22934C8.1561 9.19447 8.23169 9.14337 8.29513 9.07903C8.35857 9.01469 8.40859 8.93838 8.44228 8.85454C8.47598 8.77069 8.49267 8.68099 8.49139 8.59064V4.09091C8.49264 3.99969 8.47557 3.90915 8.4412 3.82464C8.40682 3.74014 8.35584 3.66339 8.29127 3.59894C8.2267 3.5345 8.14985 3.48366 8.06528 3.44945C7.98071 3.41524 7.89015 3.39834 7.79893 3.39977ZM7.80957 10.2273C7.62874 10.2273 7.45532 10.2991 7.32745 10.427C7.19959 10.5548 7.12775 10.7283 7.12775 10.9091C7.12775 11.0899 7.19959 11.2633 7.32745 11.3912C7.45532 11.5191 7.62874 11.5909 7.80957 11.5909C7.9904 11.5909 8.16382 11.5191 8.29169 11.3912C8.41955 11.2633 8.49139 11.0899 8.49139 10.9091C8.49139 10.7283 8.41955 10.5548 8.29169 10.427C8.16382 10.2991 7.9904 10.2273 7.80957 10.2273Z" fill="#FF5722" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_8_22180">
                                                <rect width="15" height="15" fill="white" transform="translate(0.30957)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    p Некорректное поле
                        .form__field
                            label Пароль <span>*</span>
                            input(type="password", name="", placeholder="********")
                            .field-invalid
                                .invalid-wrap
                                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_8_22180)">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.80957 0C3.67551 0 0.30957 3.36594 0.30957 7.5C0.30957 11.6341 3.67551 15 7.80957 15C11.9436 15 15.3096 11.6341 15.3096 7.5C15.3096 3.36594 11.9436 0 7.80957 0ZM7.80957 1.36364C11.2067 1.36364 13.9459 4.1029 13.9459 7.5C13.9459 10.8971 11.2067 13.6364 7.80957 13.6364C4.41247 13.6364 1.67321 10.8971 1.67321 7.5C1.67321 4.1029 4.41247 1.36364 7.80957 1.36364ZM7.79893 3.39977C7.61833 3.40259 7.44623 3.47694 7.3204 3.60652C7.19456 3.7361 7.12528 3.9103 7.12775 4.09091V8.59064C7.12647 8.68099 7.14317 8.77069 7.17686 8.85454C7.21055 8.93838 7.26057 9.01469 7.32401 9.07903C7.38745 9.14337 7.46304 9.19447 7.5464 9.22934C7.62976 9.26421 7.71921 9.28217 7.80957 9.28217C7.89993 9.28217 7.98939 9.26421 8.07274 9.22934C8.1561 9.19447 8.23169 9.14337 8.29513 9.07903C8.35857 9.01469 8.40859 8.93838 8.44228 8.85454C8.47598 8.77069 8.49267 8.68099 8.49139 8.59064V4.09091C8.49264 3.99969 8.47557 3.90915 8.4412 3.82464C8.40682 3.74014 8.35584 3.66339 8.29127 3.59894C8.2267 3.5345 8.14985 3.48366 8.06528 3.44945C7.98071 3.41524 7.89015 3.39834 7.79893 3.39977ZM7.80957 10.2273C7.62874 10.2273 7.45532 10.2991 7.32745 10.427C7.19959 10.5548 7.12775 10.7283 7.12775 10.9091C7.12775 11.0899 7.19959 11.2633 7.32745 11.3912C7.45532 11.5191 7.62874 11.5909 7.80957 11.5909C7.9904 11.5909 8.16382 11.5191 8.29169 11.3912C8.41955 11.2633 8.49139 11.0899 8.49139 10.9091C8.49139 10.7283 8.41955 10.5548 8.29169 10.427C8.16382 10.2991 7.9904 10.2273 7.80957 10.2273Z" fill="#FF5722" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_8_22180">
                                                <rect width="15" height="15" fill="white" transform="translate(0.30957)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    p Некорректное поле
                .popup__row.popup__row-lower
                    p У вас нет аккаунта? <a>Зарегистрироваться</a>
                    .btn.btn-yellow Войти
    .popup
        .popup-wrap
        .popup__wrap
            .wrap
                .popup__row.popup__row-upper
                    .popup__title.h2 Добавить вакансию
                    .popup__btn.remove-btn
                .popup__inner.inner
                    .popup__form.d_form
                        .form__field
                            label Название <span>*</span>
                            input(type="text", name="", placeholder="Разработчик")
                            .field-invalid
                                .invalid-wrap
                                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_8_22180)">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.80957 0C3.67551 0 0.30957 3.36594 0.30957 7.5C0.30957 11.6341 3.67551 15 7.80957 15C11.9436 15 15.3096 11.6341 15.3096 7.5C15.3096 3.36594 11.9436 0 7.80957 0ZM7.80957 1.36364C11.2067 1.36364 13.9459 4.1029 13.9459 7.5C13.9459 10.8971 11.2067 13.6364 7.80957 13.6364C4.41247 13.6364 1.67321 10.8971 1.67321 7.5C1.67321 4.1029 4.41247 1.36364 7.80957 1.36364ZM7.79893 3.39977C7.61833 3.40259 7.44623 3.47694 7.3204 3.60652C7.19456 3.7361 7.12528 3.9103 7.12775 4.09091V8.59064C7.12647 8.68099 7.14317 8.77069 7.17686 8.85454C7.21055 8.93838 7.26057 9.01469 7.32401 9.07903C7.38745 9.14337 7.46304 9.19447 7.5464 9.22934C7.62976 9.26421 7.71921 9.28217 7.80957 9.28217C7.89993 9.28217 7.98939 9.26421 8.07274 9.22934C8.1561 9.19447 8.23169 9.14337 8.29513 9.07903C8.35857 9.01469 8.40859 8.93838 8.44228 8.85454C8.47598 8.77069 8.49267 8.68099 8.49139 8.59064V4.09091C8.49264 3.99969 8.47557 3.90915 8.4412 3.82464C8.40682 3.74014 8.35584 3.66339 8.29127 3.59894C8.2267 3.5345 8.14985 3.48366 8.06528 3.44945C7.98071 3.41524 7.89015 3.39834 7.79893 3.39977ZM7.80957 10.2273C7.62874 10.2273 7.45532 10.2991 7.32745 10.427C7.19959 10.5548 7.12775 10.7283 7.12775 10.9091C7.12775 11.0899 7.19959 11.2633 7.32745 11.3912C7.45532 11.5191 7.62874 11.5909 7.80957 11.5909C7.9904 11.5909 8.16382 11.5191 8.29169 11.3912C8.41955 11.2633 8.49139 11.0899 8.49139 10.9091C8.49139 10.7283 8.41955 10.5548 8.29169 10.427C8.16382 10.2991 7.9904 10.2273 7.80957 10.2273Z" fill="#FF5722" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_8_22180">
                                                <rect width="15" height="15" fill="white" transform="translate(0.30957)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    p Некорректное поле
                        .form__field.form__field-select
                            label Уровень <span>*</span>
                            .select
                                .select__item
                                    .item
                                        .item__head
                                            span Выберите уровень
                                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 1L5 5L9 1" stroke="#D3D3D3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        .item__options
                                            input(type="hidden", name="")
                                            .option-wrap
                                                input.item__option(type="radio", name="", data-text="Frontend разработчик", data-selected-value="1")
                                                label Frontend разработчик
                                            .option-wrap
                                                input.item__option(type="radio", name="", data-text="Backend разработчик", data-selected-value="2")
                                                label Backend разработчик
                        .form__field
                            label Необходимый рейтинг <span>*</span>
                            input(type="text", name="", placeholder="24")
                            .field-invalid
                                .invalid-wrap
                                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_8_22180)">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.80957 0C3.67551 0 0.30957 3.36594 0.30957 7.5C0.30957 11.6341 3.67551 15 7.80957 15C11.9436 15 15.3096 11.6341 15.3096 7.5C15.3096 3.36594 11.9436 0 7.80957 0ZM7.80957 1.36364C11.2067 1.36364 13.9459 4.1029 13.9459 7.5C13.9459 10.8971 11.2067 13.6364 7.80957 13.6364C4.41247 13.6364 1.67321 10.8971 1.67321 7.5C1.67321 4.1029 4.41247 1.36364 7.80957 1.36364ZM7.79893 3.39977C7.61833 3.40259 7.44623 3.47694 7.3204 3.60652C7.19456 3.7361 7.12528 3.9103 7.12775 4.09091V8.59064C7.12647 8.68099 7.14317 8.77069 7.17686 8.85454C7.21055 8.93838 7.26057 9.01469 7.32401 9.07903C7.38745 9.14337 7.46304 9.19447 7.5464 9.22934C7.62976 9.26421 7.71921 9.28217 7.80957 9.28217C7.89993 9.28217 7.98939 9.26421 8.07274 9.22934C8.1561 9.19447 8.23169 9.14337 8.29513 9.07903C8.35857 9.01469 8.40859 8.93838 8.44228 8.85454C8.47598 8.77069 8.49267 8.68099 8.49139 8.59064V4.09091C8.49264 3.99969 8.47557 3.90915 8.4412 3.82464C8.40682 3.74014 8.35584 3.66339 8.29127 3.59894C8.2267 3.5345 8.14985 3.48366 8.06528 3.44945C7.98071 3.41524 7.89015 3.39834 7.79893 3.39977ZM7.80957 10.2273C7.62874 10.2273 7.45532 10.2991 7.32745 10.427C7.19959 10.5548 7.12775 10.7283 7.12775 10.9091C7.12775 11.0899 7.19959 11.2633 7.32745 11.3912C7.45532 11.5191 7.62874 11.5909 7.80957 11.5909C7.9904 11.5909 8.16382 11.5191 8.29169 11.3912C8.41955 11.2633 8.49139 11.0899 8.49139 10.9091C8.49139 10.7283 8.41955 10.5548 8.29169 10.427C8.16382 10.2991 7.9904 10.2273 7.80957 10.2273Z" fill="#FF5722" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_8_22180">
                                                <rect width="15" height="15" fill="white" transform="translate(0.30957)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    p Некорректное поле
                .popup__row.popup__row-lower.allign-right
                    .btn.btn-yellow Добавить
    .popup
        .popup-wrap
        .popup__wrap
            .wrap
                .popup__row.popup__row-upper
                    .popup__title.h2 Добавить тему
                    .popup__btn.remove-btn
                .popup__inner.inner
                    .popup__form.d_form
                        .form__field
                            label Название <span>*</span>
                            input(type="text", name="", placeholder="Разработчик")
                            .field-invalid
                                .invalid-wrap
                                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_8_22180)">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.80957 0C3.67551 0 0.30957 3.36594 0.30957 7.5C0.30957 11.6341 3.67551 15 7.80957 15C11.9436 15 15.3096 11.6341 15.3096 7.5C15.3096 3.36594 11.9436 0 7.80957 0ZM7.80957 1.36364C11.2067 1.36364 13.9459 4.1029 13.9459 7.5C13.9459 10.8971 11.2067 13.6364 7.80957 13.6364C4.41247 13.6364 1.67321 10.8971 1.67321 7.5C1.67321 4.1029 4.41247 1.36364 7.80957 1.36364ZM7.79893 3.39977C7.61833 3.40259 7.44623 3.47694 7.3204 3.60652C7.19456 3.7361 7.12528 3.9103 7.12775 4.09091V8.59064C7.12647 8.68099 7.14317 8.77069 7.17686 8.85454C7.21055 8.93838 7.26057 9.01469 7.32401 9.07903C7.38745 9.14337 7.46304 9.19447 7.5464 9.22934C7.62976 9.26421 7.71921 9.28217 7.80957 9.28217C7.89993 9.28217 7.98939 9.26421 8.07274 9.22934C8.1561 9.19447 8.23169 9.14337 8.29513 9.07903C8.35857 9.01469 8.40859 8.93838 8.44228 8.85454C8.47598 8.77069 8.49267 8.68099 8.49139 8.59064V4.09091C8.49264 3.99969 8.47557 3.90915 8.4412 3.82464C8.40682 3.74014 8.35584 3.66339 8.29127 3.59894C8.2267 3.5345 8.14985 3.48366 8.06528 3.44945C7.98071 3.41524 7.89015 3.39834 7.79893 3.39977ZM7.80957 10.2273C7.62874 10.2273 7.45532 10.2991 7.32745 10.427C7.19959 10.5548 7.12775 10.7283 7.12775 10.9091C7.12775 11.0899 7.19959 11.2633 7.32745 11.3912C7.45532 11.5191 7.62874 11.5909 7.80957 11.5909C7.9904 11.5909 8.16382 11.5191 8.29169 11.3912C8.41955 11.2633 8.49139 11.0899 8.49139 10.9091C8.49139 10.7283 8.41955 10.5548 8.29169 10.427C8.16382 10.2991 7.9904 10.2273 7.80957 10.2273Z" fill="#FF5722" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_8_22180">
                                                <rect width="15" height="15" fill="white" transform="translate(0.30957)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    p Некорректное поле
                        .form__field.form__field-select
                            label К какой категории относится? <span>*</span>
                            .select
                                .select__item
                                    .item
                                        .item__head
                                            span Выберите категорию
                                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 1L5 5L9 1" stroke="#D3D3D3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        .item__options
                                            input(type="hidden", name="")
                                            .option-wrap
                                                input.item__option(type="radio", name="", data-text="Frontend разработчик", data-selected-value="1")
                                                label Frontend разработчик
                                            .option-wrap
                                                input.item__option(type="radio", name="", data-text="Backend разработчик", data-selected-value="2")
                                                label Backend разработчик
                .popup__row.popup__row-lower.allign-right
                    .btn.btn-yellow Добавить
    .popup
        .popup-wrap
        .popup__wrap
            .wrap
                .popup__row.popup__row-upper
                    .popup__title.h2 Добавить вопрос
                    .popup__btn.remove-btn
                .popup__inner.inner
                    .popup__form.d_form
                        .form__field
                            label Название <span>*</span>
                            textarea(name="", rows="3") А в чем разница собственно?
                            .field-invalid
                                .invalid-wrap
                                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_8_22180)">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.80957 0C3.67551 0 0.30957 3.36594 0.30957 7.5C0.30957 11.6341 3.67551 15 7.80957 15C11.9436 15 15.3096 11.6341 15.3096 7.5C15.3096 3.36594 11.9436 0 7.80957 0ZM7.80957 1.36364C11.2067 1.36364 13.9459 4.1029 13.9459 7.5C13.9459 10.8971 11.2067 13.6364 7.80957 13.6364C4.41247 13.6364 1.67321 10.8971 1.67321 7.5C1.67321 4.1029 4.41247 1.36364 7.80957 1.36364ZM7.79893 3.39977C7.61833 3.40259 7.44623 3.47694 7.3204 3.60652C7.19456 3.7361 7.12528 3.9103 7.12775 4.09091V8.59064C7.12647 8.68099 7.14317 8.77069 7.17686 8.85454C7.21055 8.93838 7.26057 9.01469 7.32401 9.07903C7.38745 9.14337 7.46304 9.19447 7.5464 9.22934C7.62976 9.26421 7.71921 9.28217 7.80957 9.28217C7.89993 9.28217 7.98939 9.26421 8.07274 9.22934C8.1561 9.19447 8.23169 9.14337 8.29513 9.07903C8.35857 9.01469 8.40859 8.93838 8.44228 8.85454C8.47598 8.77069 8.49267 8.68099 8.49139 8.59064V4.09091C8.49264 3.99969 8.47557 3.90915 8.4412 3.82464C8.40682 3.74014 8.35584 3.66339 8.29127 3.59894C8.2267 3.5345 8.14985 3.48366 8.06528 3.44945C7.98071 3.41524 7.89015 3.39834 7.79893 3.39977ZM7.80957 10.2273C7.62874 10.2273 7.45532 10.2991 7.32745 10.427C7.19959 10.5548 7.12775 10.7283 7.12775 10.9091C7.12775 11.0899 7.19959 11.2633 7.32745 11.3912C7.45532 11.5191 7.62874 11.5909 7.80957 11.5909C7.9904 11.5909 8.16382 11.5191 8.29169 11.3912C8.41955 11.2633 8.49139 11.0899 8.49139 10.9091C8.49139 10.7283 8.41955 10.5548 8.29169 10.427C8.16382 10.2991 7.9904 10.2273 7.80957 10.2273Z" fill="#FF5722" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_8_22180">
                                                <rect width="15" height="15" fill="white" transform="translate(0.30957)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    p Некорректное поле
                        .form__field
                            label Описание вопроса <span>*</span>
                            textarea(name="", rows="6") При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
                            .field-invalid
                                .invalid-wrap
                                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_8_22180)">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.80957 0C3.67551 0 0.30957 3.36594 0.30957 7.5C0.30957 11.6341 3.67551 15 7.80957 15C11.9436 15 15.3096 11.6341 15.3096 7.5C15.3096 3.36594 11.9436 0 7.80957 0ZM7.80957 1.36364C11.2067 1.36364 13.9459 4.1029 13.9459 7.5C13.9459 10.8971 11.2067 13.6364 7.80957 13.6364C4.41247 13.6364 1.67321 10.8971 1.67321 7.5C1.67321 4.1029 4.41247 1.36364 7.80957 1.36364ZM7.79893 3.39977C7.61833 3.40259 7.44623 3.47694 7.3204 3.60652C7.19456 3.7361 7.12528 3.9103 7.12775 4.09091V8.59064C7.12647 8.68099 7.14317 8.77069 7.17686 8.85454C7.21055 8.93838 7.26057 9.01469 7.32401 9.07903C7.38745 9.14337 7.46304 9.19447 7.5464 9.22934C7.62976 9.26421 7.71921 9.28217 7.80957 9.28217C7.89993 9.28217 7.98939 9.26421 8.07274 9.22934C8.1561 9.19447 8.23169 9.14337 8.29513 9.07903C8.35857 9.01469 8.40859 8.93838 8.44228 8.85454C8.47598 8.77069 8.49267 8.68099 8.49139 8.59064V4.09091C8.49264 3.99969 8.47557 3.90915 8.4412 3.82464C8.40682 3.74014 8.35584 3.66339 8.29127 3.59894C8.2267 3.5345 8.14985 3.48366 8.06528 3.44945C7.98071 3.41524 7.89015 3.39834 7.79893 3.39977ZM7.80957 10.2273C7.62874 10.2273 7.45532 10.2991 7.32745 10.427C7.19959 10.5548 7.12775 10.7283 7.12775 10.9091C7.12775 11.0899 7.19959 11.2633 7.32745 11.3912C7.45532 11.5191 7.62874 11.5909 7.80957 11.5909C7.9904 11.5909 8.16382 11.5191 8.29169 11.3912C8.41955 11.2633 8.49139 11.0899 8.49139 10.9091C8.49139 10.7283 8.41955 10.5548 8.29169 10.427C8.16382 10.2991 7.9904 10.2273 7.80957 10.2273Z" fill="#FF5722" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_8_22180">
                                                <rect width="15" height="15" fill="white" transform="translate(0.30957)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    p Некорректное поле
                        .form__field.form__field-select
                            label Уровень <span>*</span>
                            .select
                                .select__item
                                    .item
                                        .item__head
                                            span Выберите уровень
                                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 1L5 5L9 1" stroke="#D3D3D3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        .item__options
                                            input(type="hidden", name="")
                                            .option-wrap
                                                input.item__option(type="radio", name="", data-text="Frontend разработчик", data-selected-value="1")
                                                label Frontend разработчик
                                            .option-wrap
                                                input.item__option(type="radio", name="", data-text="Backend разработчик", data-selected-value="2")
                                                label Backend разработчик
                        .form__field.form__field-select
                            label Тема <span>*</span>
                            .select
                                .select__item
                                    .item
                                        .item__head
                                            span Выберите тему
                                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 1L5 5L9 1" stroke="#D3D3D3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        .item__options
                                            input(type="hidden", name="")
                                            .option-wrap
                                                input.item__option(type="radio", name="", data-text="Frontend разработчик", data-selected-value="1")
                                                label Frontend разработчик
                                            .option-wrap
                                                input.item__option(type="radio", name="", data-text="Backend разработчик", data-selected-value="2")
                                                label Backend разработчик
                        .form__field.form__field-hinted.hinted-techs
                            <label>Технологии <span>*</span></label>
                            <input type="hidden" name="company_techs" value="">
                            .techs
                                .techs-item
                                    <img src="img/multi-remove.svg" alt="">
                                    <p>Backend разработчик</p>
                            <input type="text" name="tech" placeholder="Название технологии" required>
                        .form__field.form__field-select
                            label Технологии <span>*</span>
                            .select.select-multi
                                .select__item
                                    input(type="hidden", name="")
                                    .multi
                                    .item
                                        .item__head
                                            span Выберите значение
                                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 1L5 5L9 1" stroke="#D3D3D3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        .item__options
                                            .option-wrap
                                                input.item__option(type="radio", name="", data-text="Frontend разработчик", data-selected-value="1")
                                                label Frontend разработчик
                                            .option-wrap
                                                input.item__option(type="radio", name="", data-text="Backend разработчик", data-selected-value="2")
                                                label Backend разработчик
                .popup__row.popup__row-lower.allign-right
                    .btn.btn-yellow Добавить
    .popup
        .popup-wrap.show
        .popup__wrap.show
            .wrap
                .popup__row.popup__row-upper
                    .popup__title.h2 Backend PHP
                    .popup__btn.remove-btn
                .popup__inner.inner
                    .inner__positions
                        .inner__positions-item.item
                            .item__image
                                .img-cage
                                    img(src="img/avatar.png", alt="")
                            .item__username @diana
                            .item__name Диана Змитревич
                            .item__mail zmitrevichdiana@gmail.com
                            .item__rating Необходимый рейтинг – <span>24</span>/20
                        .inner__positions-item.item
                            .item__image
                                .img-cage
                                    img(src="img/avatar.png", alt="")
                            .item__username @diana
                            .item__name Диана Змитревич
                            .item__mail zmitrevichdiana@gmail.com
                            .item__rating Необходимый рейтинг – <span>24</span>/20
                        .inner__positions-item.item
                            .item__image
                                .img-cage
                                    img(src="img/avatar.png", alt="")
                            .item__username @diana
                            .item__name Диана Змитревич
                            .item__mail zmitrevichdiana@gmail.com
                            .item__rating Необходимый рейтинг – <span>24</span>/20
                        .inner__positions-item.item
                            .item__image
                                .img-cage
                                    img(src="img/avatar.png", alt="")
                            .item__username @diana
                            .item__name Диана Змитревич
                            .item__mail zmitrevichdiana@gmail.com
                            .item__rating Необходимый рейтинг – <span>24</span>/20
                        .inner__positions-item.item
                            .item__image
                                .img-cage
                                    img(src="img/avatar.png", alt="")
                            .item__username @diana
                            .item__name Диана Змитревич
                            .item__mail zmitrevichdiana@gmail.com
                            .item__rating Необходимый рейтинг – <span>24</span>/20
                        .inner__positions-item.item
                            .item__image
                                .img-cage
                                    img(src="img/avatar.png", alt="")
                            .item__username @diana
                            .item__name Диана Змитревич
                            .item__mail zmitrevichdiana@gmail.com
                            .item__rating Необходимый рейтинг – <span>24</span>/20
                        .inner__positions-item.item
                            .item__image
                                .img-cage
                                    img(src="img/avatar.png", alt="")
                            .item__username @diana
                            .item__name Диана Змитревич
                            .item__mail zmitrevichdiana@gmail.com
                            .item__rating Необходимый рейтинг – <span>24</span>/20
                        .inner__positions-item.item
                            .item__image
                                .img-cage
                                    img(src="img/avatar.png", alt="")
                            .item__username @diana
                            .item__name Диана Змитревич
                            .item__mail zmitrevichdiana@gmail.com
                            .item__rating Необходимый рейтинг – <span>24</span>/20